@import '../../../../../styles/variables.scss';

.review {
  background-color: $silver;
  width: 100%;
  max-width: 400px;
  padding: $spacing-l;
  margin-bottom: $spacing-xl;
}

.symbol {
  display: block;
  position: relative;
  width: 60px;
  height: 50px;
  &:before, &:after {
    display: block;
    content: '';
    width: 30px;
    height: 50px;
    transform: skew(-45deg);
    background: $dark-brown;
    position: absolute;
  }
  &:before {
    left: 24px;
  }
  &:after {
    left: 68px;
  }
}

.content {
  font-weight: 100;
  padding: $spacing-sm 0;
  color: $dark-brown;
}

.author {
  text-align: right;
  display: block;
}

.logo {
  height: 2*$spacing-xl;
  line-height: 2*$spacing-xl;
  text-align: center;
  margin-top: $spacing-l;
  img {
    max-width: 80%;
    max-height: 80%;
  }
}


@media screen and (max-width: $breakpoint-max-medium) {
  .review {
    margin: 0 (-$spacing-m);
    width: auto;
    min-width: 100%;
  }
}

@media screen and (max-width: $breakpoint-max-small) {
  .review {
    min-width: 200px;
    margin: $spacing-m auto;
  }
  .logo {
    height: 2*$spacing-l;
    line-height: 2*$spacing-l;
    text-align: center;
    margin-top: $spacing-m;
  }
}
