@import '../../styles/variables.scss';

.collectionPage {
  min-height: calc(100vh - 358px);
  padding: $spacing-xxl $spacing-l $spacing-xl;
  background-color: $concrete;
}

.collectionPageHeader {
  text-align: center;
  padding: $spacing-xl 0;
  text-transform: capitalize;
}

@media screen and (max-width: $breakpoint-max-small) {
  .collectionPageHeader {
    padding: $spacing-s 0 $spacing-m;
  }
}

@media screen and (max-width: $breakpoint-max-phone) {
  .collectionPageHeader {
    padding: $spacing-xxs 0 $spacing-m;
  }
}
