@font-face {
    font-family: 'archia';
    src: url('./font/23f9db895f1c12eddae08b795cb04007.eot');
    src: url('./font/23f9db895f1c12eddae08b795cb04007.eot?#iefix') format('embedded-opentype'),
        url('./font/23f9db895f1c12eddae08b795cb04007.woff2') format('woff2'),
        url('./font/23f9db895f1c12eddae08b795cb04007.woff') format('woff'),
        url('./font/23f9db895f1c12eddae08b795cb04007.ttf') format('truetype'),
        url('./font/23f9db895f1c12eddae08b795cb04007.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
