$white:          white;
$black:        #161616;
$dark-brown:   #252422;
$ash:          #9E9E9E;
$silver:       #EFEFEF;
$concrete:     #F3F3F3;
$passepartout: #D2DDE2;

$spacing-xxs:     4px;
$spacing-xs:      8px;
$spacing-s:      16px;
$spacing-sm:     24px;
$spacing-m:      32px;
$spacing-l:      40px;
$spacing-xl:     64px;
$spacing-xxl:   104px;
$spacing-xxxl:  168px;
$spacing-xxxxl: 272px;

$font-small:       12px;
$font-normal:      14px;
$font-normal-plus: 16px;

$breakpoint-max-medium: 1200px;
$breakpoint-max-medium-small: 1080px;
$breakpoint-max-small: 960px;
$breakpoint-max-phone: 640px;
$breakpoint-max-phone-mini: 480px;

$breakpoint-min-huge: 1540px;
