@import "styles/variables";

.contact {
  min-height: calc(100vh - 358px);
  padding: $spacing-xxl 0 0;
}

.contactInvitation {
  padding: $spacing-xxl $spacing-s $spacing-xxxl;
}

.contactInvitationHeading {
  text-align: center;
}

.contactDetails {
  padding: $spacing-l 0;
}

.contactLabel {
  text-transform: uppercase;
  font-size: $font-small;
  color: $ash;
  margin-top: $spacing-s;
}

.form {
  text-align: center;
}

.labeledField {
  position: relative;
  padding: $spacing-xs 0;
  input, textarea {
    position: relative;
    z-index: 10;
    background-color: transparent;
    color: $black;
    border: 1px solid $ash;
    padding: $spacing-xxs $spacing-s;
    width: 100%;
    outline: none !important;
    transition: background-color 0.2s;
    font-size: 14px;
    line-height: 24px;
  }
  input {
    height: $spacing-l;
  }
  textarea {
    min-height: 3*$spacing-l;
  }
  label {
    position: absolute;
    top: $spacing-s;
    left: $spacing-s;
    color: $ash;
    font-size: 14px;
    padding-top: 2px;
  }
  input, textarea {
    &:focus, &:not(:invalid), &:not([value=''])  {
      // background-color: $dark-brown;
    }
  }
}

.formButton {
  margin-top: $spacing-s;
}

@media screen and (max-width: $breakpoint-max-small) {
  .contactDetails, .form {
    padding: $spacing-xs 0 $spacing-xl;
  }
  .contactInvitation {
    padding: $spacing-xl $spacing-s;
  }
}

@media screen and (max-width: $breakpoint-max-phone) {
  .formButton {
    padding-right: $spacing-l;
  }
  .contactInvitation {
    padding: $spacing-l $spacing-s;
  }
}
