@import "styles/variables";

.artpiecePage {
  min-height: calc(100vh - 358px);
  padding: $spacing-xxl $spacing-l 0;
  background-color: $concrete;
  position: relative;
}

.artpieceHeader {
  text-align: center;
}

.artpiecePreview {
  margin: 0 (-$spacing-l);
  padding: 0 $spacing-xxl;
  overflow: hidden;
  background-color: $passepartout;
  text-align: center;
  img {
    margin-bottom: -10px;
    width: 100%;
  }
}

.artpieceDetails {
  text-align: center;
  padding: $spacing-m 0;
  h6 {
    text-transform: capitalize;
    margin-bottom: 0;
  }
  p {
    font-size: 80%;
  }
}

@media screen and (min-width: $breakpoint-min-huge) {
  .artpiecePreview {
    img {
      max-height: calc(100vh - 290px);
      min-height: 920px;
      max-width: 100%;
      width: auto;
    }
  }
}

@media screen and (max-width: $breakpoint-max-medium) {
  .artpiecePreview {
    padding: 0;
    overflow: visible;
    margin-bottom: 0;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: $breakpoint-max-small) {
  .artpiecePage {
    padding: $spacing-xl $spacing-l 0;
  }
  .artpieceDetails {
    padding: $spacing-m 0 $spacing-s;
    h6 {
      margin-bottom: $spacing-xs;
    }
  }
}

@media screen and (max-width: $breakpoint-max-phone-mini) {
  .artpieceDetails {
    padding: $spacing-s 0 $spacing-xs;
  }
}
